@font-face {
    font-family: 'Mukata';
    src: url('Mukata-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukata';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(157, 227, 184);
}

h1 {
    font-size: 18px;
    font-weight: 200;
    color: #222;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
}

h1:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

/* Estilos para el botón */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Color de fondo */
    color: #FFFFFF; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos cuando se pasa el cursor por encima del botón */
  .button:hover {
    background-color: #45a049; /* Color de fondo cambiado */
  }
  
  /* Estilos cuando se presiona el botón */
  .button:active {
    background-color: #3e8e41; /* Color de fondo cambiado */
  }

.container {
    position: relative;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .burbujas div{
    background-color: rgba(127, 241, 215, 0.29);
    border-radius: 100%;
    position:absolute;
    bottom:0;
    animation: animarburbujas 4s linear infinite;
}

.burbujas div:nth-child(1){
    width: 65px;
    height: 67px;
    left: 10px;
    animation-duration: 4s;
}

.burbujas div:nth-child(2){
    width: 45px;
    height: 42px;
    left: 25px;
    animation-duration: 9s;
}


.burbujas div:nth-child(3){
    width: 45px;
    height: 42px;
    left: 90px;
    animation-duration: 9s;
}

.burbujas div:nth-child(4){
    width: 45px;
    height: 42px;
    left: 90px;
    animation-duration: 9s;
}


.burbujas div:nth-child(5){
    width: 45px;
    height: 42px;
    left: 90px;
    animation-duration: 9s;
}

.burbujas div:nth-child(6){
    width: 45px;
    height: 42px;
    left: 90px;
    animation-duration: 9s;
}

.burbujas div:nth-child(7){
    width: 35px;
    height: 32px;
    left: 90px;
    animation-duration: 6s;
}

.burbujas div:nth-child(8){
    width: 35px;
    height: 32px;
    left: 90px;
    animation-duration: 6s;
}

.burbujas div:nth-child(9){
    width: 35px;
    height: 32px;
    left: 90px;
    animation-duration: 6s;
}

.burbujas div:nth-child(10){
    width: 35px;
    height: 32px;
    left: 90px;
    animation-duration: 6s;
}

div{
    display:block;
}

@keyframes animarburbujas {
    0%{
        width: 0;
        height: 0;
    }
    3%{
        width: 30px;
        height: 27px;
    }
    50%{
        margin-left:1000px;
        opacity:0.5;
    }
    100%{
        transform: rotate(90deg);
        bottom:100vh;
        background: rgb(162, 221, 243);
      }
}




.predict{
  font-size: 100px;
}

@keyframes fanimado{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}


.container-output{
  width: 800px;
  height: 800px;
  border: 5px solid;
  border-radius: 25px;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

.child-element{
  width: 300px;
  height: 300px;
  background-color: azure;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
}

.fileupload{
  background-color: rgb(4, 4, 179);
  border: 0;
  padding: 40px 35px;
}
